<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="SJ의 스프링블로그" />
    <meta property="og:description" content="스프링부트의 CRUD구현 블로그" />
    <meta property="og:image" content="SJ_Main.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/login_style.css" />
    <script src="js/login.js"></script>
    <title>Spring 로그인</title>
  </head>
  <body>
    <div class="wrap">
      <div class="login-container">
        <div class="navbar">
          <a><i class="fab fa-staylinked"></i></a>
        </div>
        <div class="contents">
          <div class="form">
            <div class="form__title">
              <h1>SJ_Blog</h1>
            </div>
            <div class="form__inputs">
              <input type="text" id="id" placeholder="id" />
              <input type="password" id="pw" placeholder="pw" />
            </div>
            <button id="login-btn">로그인</button>
            <button
              id="login-kakao-btn"
              class=""
              onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=8dddd1a6ee05e121f2b81ea14582123b&redirect_uri=http://localhost:8080/user/kakao/callback&response_type=code'"
            >
              <span class="ico_kakao_type1"></span>
              카카오로 로그인하기
            </button>
            <div class="go_signup">
              <p>
                아직 회원이 아니라면? &nbsp&nbsp&nbsp&nbsp
                <a href="#" class="link-signup"> 회원가입 하러가기</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="signup-container">
        <div class="navbar">
          <a><i class="fab fa-staylinked"></i></a>
        </div>
        <div class="contents">
          <div class="form">
            <div class="form__title">
              <h1>회원 가입</h1>
            </div>
            <div class="signup__inputs">
              <label for="id" class="label-input">아이디</label>
              <input type="text" id="id" placeholder="id" />
              <label for="id" class="label-input">비밀번호</label>
              <input type="test" id="pw" placeholder="pw" />
              <label for="id" class="label-input">비밀번호 확인</label>
              <input type="password" id="pw_check" placeholder="pw" />
              <label for="id" class="label-input">이메일</label>
              <input type="emial" id="email" placeholder="email" />
            </div>
            <button id="signup-btn">회원가입</button>
            <button id="cancel-btn">취소</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
